<div class="container">
  <div class="d-flex justify-content-center">
    <button (click)="generateOrders()" class="btn btn-primary">
      Start Workday
    </button>
    <button (click)="stopOrders()" class="btn btn-danger">Stop Workday</button>
  </div>
  <div class="d-flex justify-content-center">
    <app-first-five-orders [orders]="orders"></app-first-five-orders>
    <!-- <app-all-other-orders></app-all-other-orders> -->
    <!-- <ul>
      <li *ngFor="let order of orders">{{ order }}</li>
    </ul> -->
  </div>
</div>
